@import "highlight.js/styles/github.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 可选：更像 ChatGPT 的基础字体观感 */
:root {
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji",
    "Segoe UI Emoji";
}